html, body {
  padding: 0;
  margin: 0;
  --bar-height: 200px;
  --extra-space: 100px;
  background-color: #000000;
}
  
article {
  overflow: scroll;

  scroll-snap-type: y proximity;
  /* Reserve space for header and additional space so above page are visible a bit*/ 
  scroll-padding-top:  calc(var(--bar-height) + var(--extra-space));

  position: absolute;

  top:0;
  bottom:0;
  left: 0;
  right: 0;
  padding: var(--bar-height) 0 0 0;
  
  /* Enable Safari touch scrolling physics which is needed for scroll snap */
  -webkit-overflow-scrolling: touch; 
}

section {
  scroll-snap-align: start; /* snap align start */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border-top: 2px black solid;
  font-size: 36px;
}

section.large {
   height: 100vh;
}
section.medium {
   height: 60vh;
}
section.small {
   height: 10vh;
}

article > section:nth-of-type(1) {
  background-color: #000000;

 
}
article > section:nth-of-type(2) {
  background-color: #000000;
}
article > section:nth-of-type(3) {
    background-color: #000000;
  }

  
  
header {
  position: absolute;
 
  display: flex;
  justify-content: center;
  align-items: center;
 
  
  height: var(--bar-height);
  width: 100%;
  top: 0;
  padding: 0;

  background: #000000;
 
 
}
header h1 {
    color: #daf9ff;
    font-family: "heimat-mono", sans-serif;
    font-weight: 300;
    font-style: italic;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 10px solid;
    font-family: monospace;
    font-size: 3em;
    width: 15ch;
    
}
section h1 {
    background-color: #daf9ff;
    color: #000;
    font-family: "heimat-mono", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-family: monospace;
    font-size: .6em;
    width: 20ch;
    text-align: left;
    margin-right: 0%;
    margin-bottom: 1%;
    padding: .5%;
    padding-right: 15%;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  section h4 {
    color: #daf9ff;
    font-family: "heimat-mono", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-family: monospace;
    font-size: .5em;
    width: 60ch;
    
}
section h3 {
    color: #daf9ff;
    font-family: "heimat-mono", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-family: monospace;
    font-size: .8em;
    margin-top: 4%;
   
    
}
.nist {
    width: 10%;
    
    
    
    
}
.acs {
    width: 10%;
    
}
.nasa {
    width: 20%;
   
}

